@import "./global.css";
@import "./header.css";
@import "./suitcase.css";
@import "./dropdown.css";
@import "./gray.css";
@import "./interactive-circle.css";

/* header {
  max-width: 100vw;
  height: 100vh;
  background: url(../images/backgrounds/img1.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.filter-red {
  width: 100%;
  height: 100%;
  background: rgba(99, 0, 0, 0.726);

  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10rem;
}

.text-logo {
  text-align: center;
}

.text-logo h1 {
  margin-top: 8rem;
  font-size: 110px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Assistant";
  font-weight: 600;
}

.text-logo p {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Assistant";
  margin-top: -10px;
}

header .icon-header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
} */

/* .suitcase {
  width: 100%;
  height: 50vh;
  background: #7a2b58;
  padding: 2rem;
  overflow: hidden;
  position: relative;
}

.suitcase article {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Assistant";
}

.suitcase h2 {
  font-size: 30px;
  color: #ffcc33;
}

.suitcase .icon {
  position: absolute;
  bottom: -50px;
  left: -150px;
}

.suitcase-text {
  width: 50%;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
}
.suitcase-text h2 {
  display: none;
  background-color: blue;
}

.content-suitcase {
  width: 40%;
}
.text-suitcase {
  width: 60%;
  text-align: start;
  color: #fff;
}

.text-suitcase ul li {
  list-style: square;
  color: yellow;
}
.text-suitcase ul li span {
  color: #fff;
} */

/* .dropdown-section-container {
  width: 100%;
  height: 100vh;
  background: rgb(1, 179, 179);
  padding: 3rem;
  text-align: center;
  font-family: "Assistant";
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.container {
  width: 70%;
}

.dropdown-section-container h2 {
  font-size: 30px;
  color: yellow;
}

.dropdown-section-container p {
  color: #fff;
  text-align: start;
  margin-top: 2rem;
}

.dropdown-container {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown {
  width: 250px;
  height: 200px;
  background: purple;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease;
}

.container-img-dropdown {
  width: 100%;
  height: 85%;
  max-height: 170px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.dropdown-img {
  width: 100px;
}

.arrow-down-container {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-down-container .left,
.right {
  width: 8px;
  height: 20px;
  background: #03b5b0;
  border-radius: 10px;
}

.left {
  transform: rotate(-45deg);
}
.right {
  transform: rotate(45deg);
}

.dropdown.show {
  height: 400px;
  background: yellow;
}

.arrow-down-container.show {
  transform: rotate(180deg);
  background: #7a2b58;
}

.arrow-down-container.show .left,
.arrow-down-container.show .right {
  background-color: #fff;
}

.dropdown p {
  display: none;
}

.dropdown.show p {
  display: block;
  color: #333;
  opacity: 1;
  transition: 0.5s;
}

.container-text {
  padding: 1rem;
}

.icon-section-dropdown {
  position: absolute;
  bottom: -60px;
  right: -150px;
} */

/* .gray {
  width: 100%;
  height: 70vh;
  background: rgb(54, 52, 52);
  font-family: "Assistant";
  color: #03b5b0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gray .container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.gray .container .text {
  width: 40%;
  color: #fafafa;
}

.gray .container .image-icon {
  width: 50%;
  position: relative;
}
.gray .container .image-icon img {
  width: 80%;
}

.gray .container .image-icon .icon-blue {
  position: absolute;
  width: 100px;
  left: -15px;
  top: -30px;
}
.gray .container .image-icon .icon-yellow {
  position: absolute;
  width: 100px;
  right: 85px;
  bottom: -10px;
} */

/* .interactive-circle-section {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  font-family: "Assistant";
  color: #333;
}

.interactive-circle-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactive-circle-section .container .interactive-circle {
  margin-top: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center-circle {
  width: 230px;
  height: 230px;
  background: #ffcc33;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: none;
}

.center-circle.show {
  display: flex;
}

.text-circle {
  display: none;
}

.text-circle.show {
  display: block;
}

.icon-circle {
  width: 80px;
  position: absolute;
}

.icon-circle-yellow {
  top: -15px;
}
.icon-circle-gray {
  right: 12px;
  bottom: 80px;
}
.icon-circle-red {
  left: 10px;
  bottom: 80px;
}

.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  outline: none;
  border: none;
  background: #03b5b0;
  color: #fafafa;
  font-family: "Assistant";
  font-size: 1rem;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

.button-circle:hover {
  background: #03b5b0;
  transition: 0.4s;
}

.button-circle-yellow {
  top: 45px;
}
.signal {
  background-color: #7a2b58;
}
.button-circle-gray {
  right: 36px;
  bottom: 70px;
}
.button-circle-red {
  left: 40px;
  bottom: 70px;
} */
footer {
  width: 100%;
  height: 303px;
  background-color: #7a2b58;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot img {
  width: 320px;
  height: 100px;
}

/* .footer-image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -50px;
  left: 0;
  background: url(../images/icons/fg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
} */
